.game-1 {
    height: 100%;
    width: 100%
}

#jump-game {
    width: 400px;
    height: 550px;
    background-color:rgba(196, 196, 196, 0.3);
    border: 8px groove #c4c4c4;
    border-top: hidden;
    position: relative;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    color: black;
}

.jump-game-player {
    width: 60px;
    height: 55px;
    position: absolute;
    background-image:url(img/jumping_skeleton.png);
    background-size: contain;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: contain;
}

.jump-game-platform {
    width: 65px;
    height: 15px;
    background-color:#835b2a;
    border-radius: 15px;
    position: absolute;
}

#message_board{
    font-size: 30px;
}
