#game-2-container {
    text-align: center;
    background-image: url(../assets/img/game-2-backgrounds/park-night.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#game-2-layer {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 30px;
    padding-bottom: 30px;
}

.game-2-backgrounds {
    width: 348px;
    height: 253px;
    display: inline-block;
    position: relative;
    background-image: url(../assets/img/game-2-backgrounds/dog-bg.png);
    background-repeat: no-repeat;
    margin: 15px;
}

.game-2-part {
    display: inline-block;
}

.game-2-bg {
    position: absolute;
}

#game-2-bg-head {
    top: 0;
    left: 0;
    width: 115px;
    height: 119px;
}

#game-2-bg-front-paw-1 {
    top: 119px;
    left: 97px;
    width: 20px;
    height: 65px;
}

#game-2-bg-front-paw-2 {
    top: 183px;
    left: 89px;
    width: 34px;
    height: 73px;
}

#game-2-bg-torso-1 {
    top: 110px;
    left: 116px;
    width: 25px;
    height: 79px;
}

#game-2-bg-torso-2 {
    top: 102px;
    left: 138px;
    width: 20px;
    height: 72px;
}

#game-2-bg-torso-3 {
    top: 101px;
    left: 157px;
    width: 53px;
    height: 65px;
}

#game-2-bg-back-paw-1 {
    top: 102px;
    left: 208px;
    width: 49px;
    height: 95px;
}

#game-2-bg-back-paw-2 {
    top: 192px;
    left: 225px;
    width: 31px;
    height: 62px;
}

#game-2-bg-tail-1 {
    top: 84px;
    left: 257px;
    width: 56px;
    height: 40px;
}

#game-2-bg-tail-2 {
    top: 44px;
    left: 312px;
    width: 38px;
    height: 45px;
}