.run-home-game {
    width: 600px;
    height: 200px;
    margin: auto;
    background-color: rgba (0, 0, 0, 0);
    border-bottom: 5px solid #fafafa;
}

.run-home-player {
    width: 50px;
    height: 50px;
    background-image:url(img/running_skeleton.png);
    background-color: #000;
    border: 3px solid #c4c4c4;
    border-radius: 50%;
    background-size: 50px 50px;
    position: relative;
    top: 150px;
} 

.run-home-obstacle {
    width: 50px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;

    background-image:url(img/pumpkin.png);
    background-repeat: no-repeat;
    background-size: 50px 40px;

    background-color: #a14907;
    border-radius: 50%;

    animation: block 1s infinite linear;
}

.jump {
    animation: jump 0.75s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    10% {
        top: 70px;
    }

    30% {
        top: 40px;
    }

    70% {
        top: 40px;
    }

    90% {
        top: 70px;
    }

    100% {
        top: 150px;
    }
}

@keyframes block {
    0% {
      left: 600px;
    }
  
    100% {
      left: -10px;
    }
  }