body {
    background-color: black;
    color: #fafafa;
    font-family: 'Montserrat', Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'ZCOOL KuaiLe', sans-serif;
}

#title_sequence {
    background-image: url(../assets/img/halloween-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.start_container {
    display: flex;
    justify-content: center;
    width: fit-content;
    height:fit-content;
    background: beige;
    opacity: 0.5;
    border-radius: 20px;
    position: relative;
    animation: mymove 8s 1 ease-in reverse;
}

@keyframes mymove {
    from {left: 0vw;}
    to {left: 100vw;}
  }

pre {
    font-family: "Bubblegum Sans", fantasy;
    display: flex;
    justify-content: flex-start;
    font-size: 2vw;
    width: fit-content;
    height:fit-content;
    color: transparent;
    background-image: url(https://media.giphy.com/media/CKlafeh1NAxz35KTq4/giphy-downsized-large.gif);
    background-size: cover;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    line-height: 1.3;
    margin: 10px 0;
}

.game-2-backgrounds {
    width: 348px;
    height: 253px;
    display: inline-block;
    position: relative;
    background-image: url(../assets/img/game-2-backgrounds/dog-bg.png);
    background-repeat: no-repeat;
    margin: 15px;
}

.game-2-part {
    display: inline-block;
}

.game-2-bg {
    position: absolute;
}

#game-2-bg-head {
    top: 0;
    left: 0;
    width: 115px;
    height: 132px;
}

#game-2-bg-front-paws {
    top: 119px;
    left: 92px;
    width: 28px;
    height: 126px;
}

#game-2-bg-torso {
    top: 98px;
    left: 116px;
    width: 100px;
    height: 79px;
}

#game-2-bg-back-paws {
    top: 98px;
    left: 208px;
    width: 49px;
    height: 153px;
}

#game-2-bg-tail {
    top: 44px;
    left: 257px;
    width: 95px;
    height: 74px;
}

section {
    height:100vh;
    width:100%;
    overflow:hidden;
}