body {
    background-color: black;
    color: #fafafa;
    font-family: 'Montserrat', Arial, sans-serif;
}

h1 {
    font-family: 'ZCOOL KuaiLe', sans-serif;
}

h2, h3, h4, h5 {
    font-family: "Bubblegum Sans", fantasy;
}

#title_sequence {
    background-image: url(../assets/img/halloween-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.start_container {
    display: flex;
    justify-content: center;
    width: fit-content;
    height:fit-content;
    background: beige;
    opacity: 0.8;
    border-radius: 20px;
    position: relative;
    animation: mymove 8s 1 ease-in reverse;
}

@keyframes mymove {
    from {left: 0vw;}
    to {left: 100vw;}
  }

pre {
    font-family: "Bubblegum Sans", fantasy;
    display: flex;
    justify-content: flex-start;
    font-size: 1.8vw;
    width: fit-content;
    height:fit-content;
    color: transparent;
    background-image: url(https://media.giphy.com/media/CKlafeh1NAxz35KTq4/giphy-downsized-large.gif);
    background-size: cover;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    line-height: 1.3;
    margin: 10px 0;
}

section {
    height: 100vh;
    width: 100%;
    overflow:hidden;
}

#story_link_1, #game-1 {
    background-image: url(../assets/img/spookybedroom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.story-link-one {
    display: flex;
    justify-content: center;
    width: fit-content;
    height:fit-content;
    background: beige;
    opacity: 0.8;
    border-radius: 20px;
    position: relative;
    animation: mymove 8s 1 ease-in reverse;
}

@keyframes mymove {
    from {left: 0vw;}
    to {left: 100vw;}
  }

#story_link_2 {
    background-image: url(../assets/img/row-of-houses.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.story-link-two {
    display: flex;
    justify-content: center;
    width: fit-content;
    height:fit-content;
    background: beige;
    opacity: 0.8;
    border-radius: 20px;
    position: relative;
    animation: mymove 8s 1 ease-in reverse;
}

#story_link_2_append{
    background-image: url(http://2.bp.blogspot.com/-TcwLfmRiXeY/UnH_TO-R5TI/AAAAAAAAAu4/SospiWfMgnQ/s1600/dramamaniacsspooky2small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.story-link-two-append {
    display: flex;
    justify-content: center;
    width: fit-content;
    height:fit-content;
    background: beige;
    opacity: 0.8;
    border-radius: 20px;
    position: relative;
    animation: mymove 8s 1 ease-in reverse;
}

@keyframes mymove {
    from {left: 0vw;}
    to {left: 100vw;}
  }

.story-link-2-append-para {
    font-family: "Bubblegum Sans", fantasy;
    display: flex;
    justify-content: flex-start;
    font-size: 1.6vw;
    width: fit-content;
    height: fit-content;
    color: transparent;
    background-image: url(https://media.giphy.com/media/CKlafeh1NAxz35KTq4/giphy-downsized-large.gif);
    background-size: cover;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    line-height: 1.3;;
  }


#story_link_3, #story_link_4, #game_4 {
    background-image: url(../assets/img/row-of-houses.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

#game_4 {
    background-image: url(../assets/img/run-game-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

#ending_sequence {
    background-image: url(../assets/img/halloween-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.sound-button-icon {
    color: #8d8d8d;
}

.sound-button {
    margin-left: 25px;
}